.tekst{
    top: 1000px;
    height: 600px;
    width: 1540px;
    position: absolute;
    z-index: 200;
    background-color: #195964;
    top: 690px;
}

.bilde {
    position: absolute;
    top: 800px;
    left: 10px;
    z-index: 201;
}

.text {
    position: absolute;
    top: 800px;
    left: 800px;
    z-index: 201;
    width: 500px;
    font-size: larger;
    color: aliceblue;
}